.app-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1em;

    .toggle-menu-btn {
        font-size: 1.2rem;
        display: none;

        @include for-medium-layout {
            display: inline;
        }
    }

    .logo {
        width: 30px;
    }

    h1 {
        font-weight: bold;
        font-size: 1.5rem;
        background: linear-gradient(to right, #2961ee 0%, #3dc0f4 60%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}