.expense-list {
    background-color: $secondary-bg-clr;
    border-radius: $big-br;
    margin-inline-end: 15px;
    padding-block-end: 30px;
    height: 100vh;

    @include for-medium-layout {
        margin-inline-end: 0;
    }

    li {
        border-bottom: 1px solid $gray1;
    }

    .expense-titles {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr)) minmax(auto, 2fr) minmax(auto, 1fr);
        padding: 0.6em 1em;

        @include for-normal-layout {
            grid-template-columns: repeat(4, minmax(auto, 1fr));
        }

        h3 {
            font-weight: bold;
            font-size: 0.875rem;
            @include overflow3Dots()
        }
    }

    .no-expenses-msg {
        text-align: center;
        padding-block-start: 1em;
    }
}