.expense-preview {
    article {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr)) minmax(auto, 2fr) minmax(auto, 1fr);
        align-items: center;

        position: relative;
        padding: 0.4em 1em;

        @include for-normal-layout {
            grid-template-columns: repeat(4, minmax(auto, 1fr));
        }

        @include for-small-layout {
            grid-template-columns: repeat(4, minmax(70px, 1fr));
        }

        @include for-mobile-layout {
            grid-template-columns: repeat(4, minmax(20px, 1fr));
        }

        h3 {
            font-size: 0.875rem;
            margin-inline-end: 0.5em;
            @include overflow3Dots()
        }

        .btn-container {
            display: flex;
            gap: 2px;
            position: absolute;
            right: 10px;
            opacity: 0;
            transition: 300ms;

            @include for-medium-layout {
                opacity: 1;
            }

            button {
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: $small-br;
                font-size: 0.7rem;
                color: $gray3;

                &:hover {
                    background-color: $gray1;
                }
            }
        }

        &:hover .btn-container {
            opacity: 1;
        }
    }
}