.side-bar {
    display: flex;
    flex-direction: column;
    padding-block: 1em;
    padding-inline-end: 1em;
    height: 100dvh;

    background-color: $secondary-bg-clr;
    border-radius: $big-br;

    a {
        padding: 0.5em 1em;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    a.active {
        background-color: #648bf1;
        color: $secondary-bg-clr;
        ;
    }
}