// colors //
$main-font-clr: #323338;
$main-bg-clr: #eaf1fb;
$secondary-bg-clr: #ffffff;

$main-clr: #c2e7fe;

$gray1: #e6e6e6;
$gray2: #cfcfcf;
$gray3: #5f6368;

$expense-clr: #ff6384;
$transaction-clr: #36a2eb;

$success-clr: #98e898;
$error-clr: #f39696;

$big-br: 8px;
$small-br: 4px;


// break points //
$break-mobile: 450px;
$break-small: 600px;
$break-medium: 750px;
$break-normal: 1000px;