* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $main-bg-clr;
  color: $main-font-clr;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background: transparent;
  color: $main-font-clr;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
select {
  border: 1px solid $gray2;
  font-family: inherit;
  border-radius: $small-br;
  outline-style: none;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: $main-clr;
  box-sizing: border-box;
  animation: animLoader 1s linear infinite alternate;
}

@keyframes animLoader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }

  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }

  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}